.Slider
    &-list
        margin 0
        padding 0
        position relative
        list-style none
        overflow hidden
        width 100%
    // &-item
    //     -webkit-backface-visibility hidden
    //     position absolute
    //     display none
    //     width 100%
    //     left 0
    //     top 0
    //     &:fist-child
    //         position relative
    //         display block
    //         float left
    // &-image
    //     width 100%
    //     display block
    //     height auto
    //     border 0
    // &-link
    //     border 1px solid red

