section(class="Slider")
	div(class="Slider-container")
		ul(class="Slider-list rslides", id="slider2")
			li(class="Slider-item")
				img(class="Slider-image", src="http://ipsumimage.appspot.com/1370x400", alt="Upcafe MX")
			li(class="Slider-item")
				img(class="Slider-image", src="http://ipsumimage.appspot.com/1370x402", alt="Upcafe MX")
			li(class="Slider-item")
				img(class="Slider-image", src="http://ipsumimage.appspot.com/1370x403", alt="Upcafe MX")
			li(class="Slider-item")
				img(class="Slider-image", src="http://ipsumimage.appspot.com/1370x404", alt="Upcafe MX")
