header(class="Header")
	div(class="Header-container")
		figure(class="Header-figure")
			img(class="Header-logo", src="../public/images/logos/Upcafe.png", alt="Upcafe MX")
		div(class="Header-contact")
			span(class="Header-span Header-phone") Tel: 5347-1644 / 5347-1632
			span(class="Header-span Header-email") Mail: ventas@upcafe.mx
		div(class="Header-ButtonContainer")
			button(class="Header-mobileButton isActiveMenuButton", id="showMenu")
