section(id="home", class="Slider")
	div(class="Slider-container")
		div(id="imageOne", class="Slider-image Slider-imageOne Slider-visible")
		div(id="imageTwo", class="Slider-image Slider-imageTwo")
		div(id="imageTwo", class="Slider-image Slider-imageThree")
		div(id="imageTwo", class="Slider-image Slider-imageFour")