.Slider
	&-container
		width 100%
		height 500px
		overflow hidden
	&-image
		position relative
		width 100%
		height 500px
		display none
	&-visible
		display block
	&-imageOne
		background-image url("http://nebula.wsimg.com/e167dafeb217047bd11645f0d8d212b3?AccessKeyId=D59FB41C1E4321C17FF8&disposition=0&alloworigin=1")
		width 100%
		background-position center
		background-repeat no-repeat
		background-size cover
	&-imageTwo
		background-image url("http://nebula.wsimg.com/13fe6088146e2a56cada0651f4b5e8fe?AccessKeyId=D59FB41C1E4321C17FF8&disposition=0&alloworigin=1")
		width 100%
		background-position center
		background-repeat no-repeat
		background-size cover
	&-imageThree
		background-image url("http://nebula.wsimg.com/525802c4b5f5a99133875a9f2cae09ea?AccessKeyId=D59FB41C1E4321C17FF8&disposition=0&alloworigin=1")
		width 100%
		background-position center
		background-repeat no-repeat
		background-size cover
	&-imageFour
		background-image url("http://nebula.wsimg.com/448c4a5b9765f243a7bf9ef08827aa4d?AccessKeyId=D59FB41C1E4321C17FF8&disposition=0&alloworigin=1")
		width 100%
		background-position center
		background-repeat no-repeat
		background-size cover